[Unit]
Description=mount android parts
After=system.mount systemd-udev-settle.service
Wants=systemd-udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/lib/lxc-android/mount-android

[Install]
RequiredBy=local-fs.target
