ACTION=="add", KERNEL=="diag_lge", MODE="0660", GROUP="qcom_diag", OWNER="system"
ACTION=="add", KERNEL=="genlock", MODE="0666", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="kgsl", MODE="0666", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="kgsl-3d0", MODE="0666", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="kgsl-2d0", MODE="0666", GROUP="root", OWNER="root"
ACTION=="add", KERNEL=="kgsl-2d1", MODE="0666", GROUP="root", OWNER="root"
ACTION=="add", KERNEL=="ion", MODE="0664", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="rtc0", MODE="0600", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd0", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd4", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd_cxm_qmi", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smd5", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd6", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd7", MODE="0660", GROUP="bluetooth", OWNER="bluetooth"
ACTION=="add", KERNEL=="ccid_bridge", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="smd11", MODE="0660", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="radio0", MODE="0640", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="rfcomm0", MODE="0660", GROUP="bluetooth", OWNER="bluetooth"
ACTION=="add", KERNEL=="smdcntl0", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl1", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl2", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl3", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl4", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl5", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl6", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcntl7", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev0", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev1", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev2", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev3", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev4", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev5", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev6", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev7", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smdcnt_rev8", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="smuxctl32", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl0", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl1", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl2", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl3", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl4", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl5", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl6", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl7", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdioctl8", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="rmnet_mux_ctrl", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl0", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl1", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl2", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl3", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl4", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl5", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl6", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl7", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl8", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl9", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl10", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl11", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl12", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl13", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl14", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl15", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="hsicctl16", MODE="0640", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="video*", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="media*", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="v4l-subdev*", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="qseecom", MODE="0660", GROUP="drmrpc", OWNER="system"
ACTION=="add", KERNEL=="gemini0", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="jpeg0", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="jpeg1", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="jpeg2", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="adsprpc-smd", MODE="0664", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="msm_camera/*", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="gemini/", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="mercury0", MODE="0660", GROUP="camera", OWNER="system"
ACTION=="add", KERNEL=="msm_vidc_reg", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_vidc_dec", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_vidc_dec_sec", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_vidc_enc", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_rotator", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="hw_random", MODE="0600", GROUP="root", OWNER="root"
ACTION=="add", KERNEL=="adsprpc-smd", MODE="0664", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="msm_qcelp", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_evrc", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_wma", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_wmapro", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_amrnb", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_amrwb", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_amrwbplus", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_aac", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_multi_aac", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_aac_in", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_qcelp_in", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_evrc_in", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_amrnb_in", MODE="0640", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_a2dp_in", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_ac3", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_acdb", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_cad", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_fm", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_mvs", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_pcm_lp_dec", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_preproc_ctl", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_rtac", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="msm_voicememo", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="smd3", MODE="0660", GROUP="net_bt_stack", OWNER="bluetooth"
ACTION=="add", KERNEL=="smd2", MODE="0660", GROUP="net_bt_stack", OWNER="bluetooth"
ACTION=="add", KERNEL=="tspdrv", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="ttyHSL1", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="mdm", MODE="0660", GROUP="radio", OWNER="system"
ACTION=="add", KERNEL=="smdpkt/smdcntl*", MODE="0664", GROUP="radio", OWNER="radio"
ACTION=="add", KERNEL=="sdio_tty_ciq_00", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="tty_sdio_00", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="ttyGS0", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="i2c-5", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="voice_svc", MODE="0660", GROUP="audio", OWNER="system"
ACTION=="add", KERNEL=="demux*", MODE="0440", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="dvr*", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="video*", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="tsc_mux0", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="tsc_ci0", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="i2c-12/12-*", MODE="0664", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="i2c-0/0-*", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="i2c-0/0-*", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="proximity", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="proximity", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="lightsensor", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="lightsensor", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="input*", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="input*", MODE="0660", GROUP="input", OWNER="system"
ACTION=="add", KERNEL=="wcnss_wlan", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="wcnss_ctrl", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="pn547", MODE="0660", GROUP="nfc", OWNER="nfc"
ACTION=="add", KERNEL=="pn544", MODE="0660", GROUP="nfc", OWNER="nfc"
ACTION=="add", KERNEL=="uio0", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="uio1", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="uio2", MODE="0660", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="subsys_*", MODE="0640", GROUP="system", OWNER="system"
ACTION=="add", KERNEL=="broadcast0", MODE="0660", GROUP="media", OWNER="media"
ACTION=="add", KERNEL=="rfkill", MODE="0660", GROUP="wifi", OWNER="wifi"
