ACTION=="add", KERNEL=="smd3", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="smd2", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="ttyHS0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="genlock", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="kgsl-3d0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="msm_rotator", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="msm_vidc_dec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_dec_sec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_enc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_acdb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_rtac", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd4", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="smd7", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="smdcntl0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl3", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl4", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl5", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl6", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl7", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smuxctl32", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="rmnet_mux_ctrl", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="hsicctl0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="hsicctl1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="hsicctl2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="hsicctl3", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="video*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="media*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="gemini*", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="msm_dsps", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="bcm2079x-i2c", OWNER="nfc", GROUP="nfc", MODE="0660"
ACTION=="add", KERNEL=="qseecom", OWNER="system", GROUP="video", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="mdm", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="gss", OWNER="system", GROUP="gps", MODE="0660"
ACTION=="add", KERNEL=="ks_hsic_bridge", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="efs_hsic_bridge", OWNER="system", GROUP="system", MODE="0660"
