ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="root", GROUP="system", MODE="0440"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="alog/*", OWNER="root", GROUP="log", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="log", MODE="0222"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="system", GROUP="qcom_diag", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="android_adb", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="android_adb_enable", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="system", GROUP="radio", MODE="0664"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="dvb*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="ump", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="exynos-mem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video20", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="media0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media1", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev1", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev2", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev3", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev4", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev5", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev6", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev7", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev8", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev9", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev10", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev11", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev12", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev13", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev14", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev15", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev16", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev17", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev18", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev19", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev20", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev21", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev32", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video23", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video26", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video24", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video27", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video29", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video30", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video31", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video50", OWNER="media", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="video51", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler0", OWNER="mediacodec", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_scaler1", OWNER="cameraserver", GROUP="cameraserver", MODE="0660"
ACTION=="add", KERNEL=="video55", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="fimg2d", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="i2c-2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="HPD", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video6", OWNER="mediacodec", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video7", OWNER="media", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video8", OWNER="media", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video9", OWNER="media", GROUP="mediadrm", MODE="0660"
ACTION=="add", KERNEL=="video101", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video102", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video103", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video104", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video105", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video106", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video109", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video110", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video111", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video112", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video120", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video121", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video122", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video130", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video131", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video132", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video140", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video141", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video142", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video150", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video151", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video152", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video160", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video161", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video170", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video171", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video172", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video173", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video174", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video180", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video210", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video211", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video212", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video213", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video214", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video215", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video216", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video217", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video218", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video219", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video220", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video221", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video222", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video223", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video224", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video225", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video227", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="video231", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="media2", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="m2m1shot_jpeg", OWNER="media", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="video12", OWNER="media", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="seiren", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="umts_dm0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_router", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_boot0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/RADIO", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/CP_DEBUG", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts*", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_csd", OWNER="system", GROUP="loop_radio", MODE="0660"
ACTION=="add", KERNEL=="smd4", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ssp_sensorhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="batch_io", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="iio:device*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sensor", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_control", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_packet", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_reliable", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_sio", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="bbd_patch", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyBCM*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/PERSISTENT", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/155a0000.ufs/by-name/STEADY", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="dvb*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="system", GROUP="system", MODE="0700"
ACTION=="add", KERNEL=="mobicore-user", OWNER="radio", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="s5p-smem", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ssp_sensorhub", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ssp_data_injection", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vfsspi", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="esfp0", OWNER="system", GROUP="system", MODE="0660"
