ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="root", GROUP="system", MODE="0440"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="alog/*", OWNER="root", GROUP="log", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="log", MODE="0222"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="system", GROUP="qcom_diag", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="android_adb", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="android_adb_enable", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="system", GROUP="radio", MODE="0664"
ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="dvb*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sprd_dma_copy", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_scale", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_rotation", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_dcam", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_gsp", OWNER="system", GROUP="audio", MODE="0777"
ACTION=="add", KERNEL=="sprd_isp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_vsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_jpg", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_vpp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_coda7l", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_sensor", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sprd_image", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="mali0", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="stty_td*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="stty_w*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_td", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td3", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td4", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_td5", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td6", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_td7", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td8", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_td*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="stty_w*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_w", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w2", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w3", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w4", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_w5", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w6", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_w8", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_w14", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="gnss_dbg", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_gnss", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_wcn", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_wcn*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vbpipe1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vbpipe0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vbpipe6", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="stty_lte*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_lte", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sdiag_lte", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_lte*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_lte5", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_lte4", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_lte6", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spipe_lte14", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="stty_gge*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_gge", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spipe_gge*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ubi0_*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0p*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="vser", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyHS0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="ttyGS*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="gpsctl", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyS*", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="fm", OWNER="system", GROUP="media", MODE="0660"
ACTION=="add", KERNEL=="Trout_FM", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ecompass_ctrl", OWNER="system", GROUP="compass", MODE="0666"
ACTION=="add", KERNEL=="mxc622x", OWNER="system", GROUP="input", MODE="0666"
ACTION=="add", KERNEL=="mmc31xx", OWNER="system", GROUP="compass", MODE="0666"
ACTION=="add", KERNEL=="al3006_pls", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="lis3dh_acc", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="akm8975_dev", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ltr_558als", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="epl2182_pls", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sttybt0", OWNER="bluetooth", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="board_type", OWNER="bluetooth", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyV0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyV1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sdiomux*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spimux*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="spimux21", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux24", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux25", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux26", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux27", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux28", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux29", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="spimux30", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux21", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux24", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux25", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux26", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux27", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux28", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux29", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="sdiomux30", OWNER="media", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="akm8963_dev", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="download", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="slog_wcn", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="power_ctl", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/sdio_emmc/by-name/PERSISTENT", OWNER="system", GROUP="system", MODE="0660"
