# modalias for touch screen doesn't match the common rule so we add it statically here
SUBSYSTEM=="input", KERNEL=="event[0-9]*", ATTRS{modalias}=="input:b0006v0001p0001e0001-e0,3,kra30,35,36,39,3A,mlsfw", TAG+="systemd", SYMLINK+="input/touchscreen0"

ACTION=="add", KERNEL=="rtc0", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="btdiag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="diag_mdm", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="htcdiag", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="genlock", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl-3d0", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl-2d0", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl-2d1", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ttyHS0", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="ttyGS0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="sdio_tty_ciq_00", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_rotator", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_audio", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_smipool*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="radio0", OWNER="fm_radio", GROUP="fm_radio", MODE="0644"
ACTION=="add", KERNEL=="i2c-0", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="i2c-1", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="i2c-2", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="i2c-4", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="i2c-5", OWNER="root", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="msm_mvs", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_voicememo", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tzcom", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="qce", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_lp_dec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="smd4", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="smd3", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="smd2", OWNER="bluetooth", GROUP="bluetooth", MODE="0660"
ACTION=="add", KERNEL=="smd7", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl3", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl4", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl5", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl6", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="smdcntl7", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl3", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl4", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl4", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl5", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl6", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl7", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="sdioctl8", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="rmnet_ctrl", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qemu_trace", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="gemini0", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="rawchip0", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mdm", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyHSL1", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tty_sdio_00", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0p17", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0p18", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="video*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="rfkill", OWNER="root", GROUP="wifi", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_reg", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_dec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_dec_sec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_enc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_amrnb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_amrwb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_aac", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_multi_aac", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_aac_in", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_qcelp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_evrc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_fm", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_acdb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_rtac", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_wma", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_wmapro", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_qcelp_in", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_evrc_in", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_preproc_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_a2dp_in", OWNER="system", GROUP="audio", MODE="0640"
ACTION=="add", KERNEL=="msm_amrnb_in", OWNER="system", GROUP="audio", MODE="0640"
ACTION=="add", KERNEL=="codec_aic3254", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acdb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2051d3", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_dev_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="akm8975_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8975_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="ewtzmu2daemon", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="ewtzmu2hal", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="ewtzmu2", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="mpu", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="mpuirq", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="timerirq", OWNER="system", GROUP="system", MODE="0664"
ACTION=="add", KERNEL=="simlock", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="felica", OWNER="felicaclient", GROUP="felicaclient", MODE="0666"
ACTION=="add", KERNEL=="felica_pon", OWNER="felicaclient", GROUP="felicaclient", MODE="0666"
ACTION=="add", KERNEL=="felica_cen", OWNER="felicalock", GROUP="felicalock", MODE="0666"
ACTION=="add", KERNEL=="felica_rfs", OWNER="felicaclient", GROUP="felicaclient", MODE="0444"
ACTION=="add", KERNEL=="felica_rws", OWNER="felicaclient", GROUP="felicaclient", MODE="0666"
ACTION=="add", KERNEL=="felica_int", OWNER="felicaclient", GROUP="felicaclient", MODE="0444"
ACTION=="add", KERNEL=="felica_int_poll", OWNER="felicaclient", GROUP="felicaclient", MODE="0400"
ACTION=="add", KERNEL=="felica_uid", OWNER="felicaclient", GROUP="felicaclient", MODE="0222"
ACTION=="add", KERNEL=="ttyHSUSB0", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="ttySA0", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="smd9", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="ttyHSUSB3", OWNER="autobot_access", GROUP="autobot_access", MODE="0660"
ACTION=="add", KERNEL=="ttyHSUSB1", OWNER="system", GROUP="system", MODE="0600"
ACTION=="add", KERNEL=="pn544", OWNER="nfc", GROUP="nfc", MODE="0600"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="usb/lp*", OWNER="system", GROUP="usb", MODE="0660"
