ACTION=="add", KERNEL=="knvmap", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="nvmap", OWNER="system", GROUP="video", MODE="0666"
ACTION=="add", KERNEL=="tegra_avp", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_avpchannel", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_rpc", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_sema", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_mediaserver", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="ov2710", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="mi1040", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_camera", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="camera*", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="focuser*", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="torch*", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="video0", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="video1", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="spdif*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tegra_dc_0", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_dc_1", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tegra_dc_ctrl", OWNER="system", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="ttyACM*", OWNER="radio", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyACM2", OWNER="radio", GROUP="log", MODE="0660"
ACTION=="add", KERNEL=="nvhost-ctrl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="nvhost-display", OWNER="root", GROUP="root", MODE="0000"
ACTION=="add", KERNEL=="nvhost-dsi", OWNER="root", GROUP="root", MODE="0000"
ACTION=="add", KERNEL=="nvhost-gr2d", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="nvhost-gr3d", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="nvhost-isp", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="nvhost-mpe", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="nvhost-vi", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tf_driver", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="radio", OWNER="system", GROUP="radio", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="system", GROUP="video", MODE="0666"
ACTION=="add", KERNEL=="pn544", OWNER="nfc", GROUP="nfc", MODE="0660"
ACTION=="add", KERNEL=="ttyHS1", OWNER="gps", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="ttyHS2", OWNER="bluetooth", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="elan-iap", OWNER="system", GROUP="system"
