ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="alog/*", OWNER="root", GROUP="log", MODE="0666"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="system", GROUP="qcom_diag", MODE="0660"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="diag_arm9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="android_adb", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="android_adb_enable", OWNER="adb", GROUP="adb", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="system", GROUP="net_bt_stack", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="system", GROUP="radio", MODE="0664"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="camera", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="compass", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="system", GROUP="system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="system", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="radio", GROUP="radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="radio", GROUP="vpn", MODE="0660"
ACTION=="add", KERNEL=="dsscomp", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="tiler", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="rpmsg-omx0", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="rpmsg-omx1", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="rproc_user", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tf_driver", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="tf_ctrl", OWNER="video", GROUP="video", MODE="0660"
ACTION=="add", KERNEL=="mpu", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="mpuirq", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="accelirq", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="compassirq", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="timerirq", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="umts_boot0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_boot1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0p9", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="umts_ramdump0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyO0", OWNER="system", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_boot0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_boot0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_ipc0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_rfs0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_spi", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_rmnet5", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_rmnet6", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_rmnet4", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyGS0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="ttyGS1", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0p4", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="modem_br", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_ramdump0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="lte_ramdump0", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="cdma_cplog", OWNER="radio", GROUP="radio", MODE="0660"
ACTION=="add", KERNEL=="pvrsrvkm", OWNER="root", GROUP="root", MODE="0666"
